<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style\estilos.css">
    <title>Acerca de</title>
</head>
<body>
<h1>Acerca de</h1>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reprehenderit est nobis dolorum nulla distinctio numquam culpa. Fugit quis esse eum reiciendis eveniet eius aperiam minus ullam, odio facilis magni tenetur dicta error nulla maiores iure nam perferendis reprehenderit assumenda ea harum similique voluptas? Iusto dignissimos sint fuga inventore corrupti!</p>
<a href="index.html">Volver a Inicio</a>
</body>
</html>